body, .root{

    margin: 0px;
    padding: 0px;   
 /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%); */

 background: #CC95C0;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 

}

